<div class="impressum-container">
  <div class="content-wrapper">
    <h1>{{ 'impressum.title' | transloco }}</h1>

    <section class="info-section">
      <h2>{{ 'impressum.provider.title' | transloco }}</h2>
      <p>
        MainStream<br>
        {{ 'impressum.provider.name' | transloco }}<br>
        {{ 'impressum.provider.address' | transloco }}<br>
        {{ 'impressum.provider.city' | transloco }}
      </p>
    </section>

    <section class="info-section">
      <h2>{{ 'impressum.contact.title' | transloco }}</h2>
      <p>
        {{ 'impressum.contact.email' | transloco }}: <a href="mailto:info@mainstream.app">info&#64;mainstream.app</a><br>
        {{ 'impressum.contact.phone' | transloco }}: {{ 'impressum.contact.phoneNumber' | transloco }}
      </p>
    </section>

    <section class="info-section">
      <h2>{{ 'impressum.responsible.title' | transloco }}</h2>
      <p>{{ 'impressum.responsible.content' | transloco }}</p>
    </section>

    <section class="info-section">
      <h2>{{ 'impressum.disclaimer.title' | transloco }}</h2>

      <h3>{{ 'impressum.disclaimer.content.title' | transloco }}</h3>
      <p>{{ 'impressum.disclaimer.content.text' | transloco }}</p>

      <h3>{{ 'impressum.disclaimer.links.title' | transloco }}</h3>
      <p>{{ 'impressum.disclaimer.links.text' | transloco }}</p>

      <h3>{{ 'impressum.disclaimer.copyright.title' | transloco }}</h3>
      <p>{{ 'impressum.disclaimer.copyright.text' | transloco }}</p>
    </section>

    <section class="info-section">
      <h2>{{ 'impressum.privacy.title' | transloco }}</h2>
      <p>{{ 'impressum.privacy.text' | transloco }}</p>
    </section>
  </div>
</div>
